header {
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.dsmovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
}

.dsmovie-contact-link {
    margin: 0;
    padding-left: 10px;
    font-size: 12px;
}

.dsmovie-nav-content h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

li {
    display: inline;
    float: left;
}

a {
    display: block;
    padding: 12px;
  }

li a:hover {
    background-color: rgb(58, 15, 250);
  }
