@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: rgb(25, 71, 221);
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #f6f6f6;
    margin-top: 35px;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

